<h1> All Animals </h1>
<% @animals.each do |animal| %>
    <%= animal.name %>
    <%= link_to 'New Animal', new_animal_path %>
    <%= link_to 'Show', animal_path(animal.id) %>
    <%= link_to 'Delete', animal_path(animal.id), method: :delete %>
<% end %>